body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

#top {
  display: flex;
  flex-direction: row;
  background-color: #fda7df;
  width: 100%;
  height: 8rem;
  justify-content: start;
  align-items: center;
}

.priorityAction,
.ticketAction {
  margin: 1.5rem;
  display: flex;
  flex-direction: row;
  height: 4rem;
  width: 16rem;
  border-radius: 8px;
  background-color: #d980fa;
  align-items: center;
  justify-content: space-evenly;
}

.ticketAction {
  width: 8rem;
}

.boxes {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 8px;
}

.color {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 8px;
}

.boxes:hover {
  border: black solid 2px;
}

.greenP {
  background-color: #7efff5;
}

.blueP {
  background-color: #1b9cfc;
}

.redP {
  background-color: #ffaf40;
}

.brownP {
  background-color: #82589f;
}

.mbody {
  display: flex;
  flex-direction: row;
  width: 25rem;
  height: 25rem;
  position: absolute;
  top: calc((100vh - 25rem) / 2);
  left: calc((100vw - 25rem) / 2);
  background-color: aqua;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.mbody {
  display: none;
  box-sizing: border-box;
}

.content {
  width: 75%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.mtext {
  height: 100%;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  padding: 0%;
  font-size: 1.5rem;
  background-color: azure;
}

.actBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(176, 202, 224);
}

.fa-solid {
  font-size: 2.3rem;
}

.fa-solid:hover {
  border: black solid 2px;
  background-color: #fda7df;
}

.border {
  border: #e27f15 3px solid;
}

.dbody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

.mainbox {
  margin: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 22rem;
}

.band {
  height: 6%;
}

.taskid {
  height: 14%;
  padding: 0.5rem;
  font-size: 1.3rem;
  /* background-color: #e27f15; */
  background-color: beige;
}

.tasktext {
  height: 70%;
  padding: 0.5rem;
  font-size: 1.3rem;
  overflow-y: scroll;
  background-color: beige;
  outline: none;
}

.status {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background-color: beige;
  /* background-color: blueviolet; */
}

@media screen and (min-width:425px) and (max-width:725px) {
  .mbody {
    margin-top: 20px;
    width: 60vw;
    left: calc((100vw - 60vw) / 2);
  }
}

@media screen and (max-width:426px) {
  .priorityAction {
    margin: 0.5rem;
  }

  .mbody {
    margin-top: 20px;
    width: 60vw;
    left: calc((100vw - 60vw) / 2);
    flex-direction: column;
  }

  .content {
    height: 80%;
    width: 100%;
  }

  .actBox {
    flex-direction: row;
    width: 100%;
    height: 20%;
  }

  .mainbox {
    margin: 0.4rem;
  }
}